<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .carnatic{
            font-style: bold;
        }
    </style>
    <title>File Upload</title>
</head>
<body>
    <h1 class="carnatic">Musical Scale Tester</h1>
    <form action="/" methods="POST" enctype="multipart/form-data">
        <label for="file">"Upload audio file</label>
        <input name ="file" type="file" accept="audio/*">
        <input type="submit" value="Submit">
    </form>
    
    <p id="output"></p>
    <script>
        function printoutput(key,key_scale){
            var o = document.getElementById('output')
            o.innerHTML = 'The key index is '+key+', and the key scale is '+key_scale+'.';
        }
    </script>
</body>
</html>