<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .carnatic{
            font-style: bold;
        }
    </style>
    <title>Home</title>
</head>
<body>
    <h1 class="carnatic">Carnatic Heritage</h1>
    <form action="/index" method="POST" enctype="multipart/form-data">
        <label for="file">"Upload audio file</label>
        <input name ="file" type="file" accept="audio/*">
        <input type="submit" value="submit">
    </form>
</body>
</html>